peliculas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="peliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pelicula" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IDPelicula" type="xs:int"/>
              <xs:element name="Titulo" type="xs:string"/>
              <xs:element name="Sinopsis" type="xs:string" minOccurs="0"/>
              <xs:element name="Director" type="xs:string" minOccurs="0"/>
              <xs:element name="Duracion" type="xs:int"/>
              <xs:element name="Genero" type="xs:string" minOccurs="0"/>
              <xs:element name="AñoLanzamiento" type="xs:gYear" minOccurs="0"/>
              <xs:element name="Pais" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
