EmisionesReto/EmisionesReto/emisiones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Emisiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Emision" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Fecha" type="xs:date"/> 
              <xs:element name="Hora" type="xs:time"/>
              <xs:element name="IDPelicula" type="xs:integer"/>
              <xs:element name="IDSala" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>